page-home {
    .intro-btn {
        width: 200px;
        height: 200px;
        margin-bottom: 10px !important;
        background-color: #f3f3f3 !important;
        border-color: #0a1f38 !important;
        p {
            font-size: 18px;
            line-height: 1.3333333;
            color: #b24825 !important;
            position: absolute;
            bottom: 0px;
        }
    }
}
