page-info {
    .footer-btn {
        font-size: 16px !important;
        line-height: 1.3333333 !important;
        border-radius: 6px !important;
        background-color: #b24826;
        color: #f3f3f3;
        width: 130px;
        border-color: #0a1f38;
    }
}
