// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.blue {
  background-color: #272822;
  color: #F8F8F0;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #F8F8F0;
  }
}

.cream {
  background-color: #F8F8F0;
  color: #0d2643;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #0d2643;
    white-space: normal;
  }
}

.orange {
  color: color($colors, orange) !important;
}

.title-image {
  margin-top: 8px;
  height: 35px;
}

.footer-btn {
  font-size: 16px !important;
  line-height: 1.3333333 !important;
  border-radius: 6px !important;
  background-color: color($colors, orange) !important;
  color: #F8F8F0 !important;
  width: 130px;
  border-color: #0a1f38;
  height: 2em;
}

.item-avatar {
  height: 44px !important;
  margin-bottom: 12px;
  border-bottom: 2px solid color($colors, royal);
}
