<ion-header>
    <ion-navbar color="royal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img class="title-image" src="assets/images/vbeltcalc-logo.png" style="height:35px;">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="no-scroll">
    <ion-item text-center class="cream">
        <h2 class="orange">STEP SEVEN</h2>
        <h4>Measure pulley C’s outside diameter</h4>
    </ion-item>
    <ion-list>
        <ion-item>
            <img src="assets/images/3p-07.png" />
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item-divider class="cream" text-center>
            <small>Pully C's Outside Diameter</small>
        </ion-item-divider>
        <ion-item>
            <ion-input type="number" [(ngModel)]="smallDiameter"></ion-input>
            <ion-note item-right *ngIf="measuringUnits == 'standard'">
                in.
            </ion-note>
            <ion-note item-right *ngIf="measuringUnits == 'metric'">
                cm.
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar color="royal">
        <p>
            <ion-buttons start>
                <button ion-button color="orange" class="footer-btn" (click)="prevPage()">
                    Previous
                </button>
            </ion-buttons>
        </p>
        <ion-buttons end>
            <button ion-button color="orange" class="footer-btn" (click)="nextPage()">
                Next
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
