<ion-header>
    <ion-navbar color="royal">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img class="title-image" src="assets/images/vbeltcalc-logo.png" style="height:35px;">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
            <ion-icon [name]="item.icon" item-left></ion-icon>
            {{item.title}}
            <div class="item-note" item-right>
                {{item.note}}
            </div>
        </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>
