page-page2-4 {
    .no-scroll .scroll-content {
        overflow: hidden;
    }
    .list-ios {
        margin: -1px 0 0px 0;
    }
    ion-item-divider {
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 500;
    }
}
